/*.DSK
/*.dsk
/*.exe
/*.zip
/*.obj
/*.bak
/*.bds
/*.lst
/Cleanup.bat
/D*.BAT
/asm_CTS256_*.bat
/mk*.bat
/run*.bat
/vcvars32.bat
/ConversionRules.md
/README.md
/CTS256.tws
/CTS256_DASM.*
/CTS256_ORIG.*
